## Performing arithmetic operations using Python.

In [2]:
2 + 3 + 9

14

In [3]:
99 - 73

26

In [4]:
23.54 * -1432

-33709.28

In [5]:
100 / 7

14.285714285714286

In [8]:
100 // 7  # calculate the quotient.

14

In [9]:
100 % 7   # calculate the remainder.

2

In [10]:
5 ** 3   # calculate the 1st_number raise-to-power 2nd_number

125

#### precedence by using brackets.

In [11]:
((2 + 5) * (17 - 3)) / (4 ** 3)

1.53125

### A factory manufactured 483685 toys in three weeks. The production in first week was 146345 toys and in second week 138152 toys. Find the production in the third week.

In [15]:
# creating and initializing the variables:

three_weeks_production = 483685
first_week_production = 146345
second_week_production = 138152

In [16]:
# calculating the 3rd week production:

third_week_production = three_weeks_production - (first_week_production + second_week_production)
print("The production in third week is: ", third_week_production)

The production in third week is:  199188

### 1575 students of a school want to go Agra by bus. If one bus can carry 75 students, how many buses are required to carry all the students?

In [17]:
# creating and initializing the variables:

total_students = 1575
capacity_of_single_bus = 75

In [23]:
# calculating the required number of buses to carry all students:

required_buses = total_students/capacity_of_single_bus
print(str(int(required_buses))+" buses are required to carry all " + str(total_students) + " students to Agra.")

21 buses are required to carry all 1575 students to Agra.

### Maria bought 96 toys priced equally for 12960 dollars. The amount of 1015 dollars is still left with her. Find the cost of each toy and the amount she had.

In [24]:
# creating and initializing the variables:

total_toys_purchased = 96
total_price = 12960
remaining_amount = 1015

In [25]:
# calculating the cost of each toy:

cost_of_each_toy = total_price/total_toys_purchased
print("The cost of each toy is " + str(cost_of_each_toy))

The cost of each toy is 135.0

In [28]:
# calculating the total amount she had.

amount_she_had = total_price + remaining_amount
print("The total amount, Maria had in hand before buying the toys was, " + str(amount_she_had) + " dollars.")

The total amount, Maria had in hand before buying the toys was, 13975 dollars.

### A grocery store sells a bag of ice for 1.25 dollars and makes a 20% profit. If it sells 500 bags of ice, how much total profit does it make?

In [31]:
# creating and initializing the variables.

price_of_single_ice_bag = 1.25
profit_margin = 20/100
bags_sold = 500

In [32]:
# calculating the profit per bag.

profit_per_bag = price_of_single_ice_bag * profit_margin
print("The profit per bag is " + str(profit_per_bag))

The profit per bag is 0.25

In [34]:
# calculating the total profit.

total_profit = bags_sold * profit_per_bag
print("The total profit by selling "+ str(bags_sold) + " bags is " + str(total_profit))

The total profit by selling 500 bags is 125.0

### EXERCISE:

### A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company? Create variables for each numeric quantity and use appropriate arithmetic operations.

In [37]:
# creating and initializing the variables.
flying_cost = 5000
total_passengers = 29
charges_per_ticket = 200

# calculating the total revenue.
total_revenue = total_passengers * charges_per_ticket

# calculating the profit made by company.
profit_made = total_revenue - flying_cost

#printing the result.
print("The company made " + str(profit_made) + " dollars, by the mentioned flying operation.")

The company made 800 dollars, by the mentioned flying operation.