### Storing information using variables

In [1]:
my_favorite_color = "blue"

In [2]:
my_favorite_color

'blue'

In [3]:
color_1, color_2, color_3 = 'red', 'green', 'blue'

In [4]:
color_1

'red'

In [6]:
color_2

'green'

In [7]:
color_3

'blue'

In [8]:
color_4 = color_5 = color_6 = 'magenta'

In [9]:
color_4

'magenta'

In [10]:
color_5

'magenta'

In [11]:
color_6

'magenta'

In [12]:
my_favorite_color

'blue'

In [13]:
my_favorite_color = 'red'

In [14]:
my_favorite_color

'red'

In [15]:
counter = 10

In [16]:
counter

10

In [17]:
counter = counter + 1

In [18]:
counter

11

In [19]:
counter = counter * 10

In [20]:
counter

110

In [21]:
counter += 40

In [22]:
counter

150

In [23]:
counter -= 50

In [24]:
counter

100

In [25]:
a_variable = 23
is_today_saturday = False
my_favorite_car = 'ABC'
best_3_students = ['me', 'you', 'him']

In [26]:
a_variable

23

In [27]:
is_today_saturday

False

In [28]:
my_favorite_car

'ABC'

In [29]:
is_today_saturday

False

In [30]:
best_3_students

['me', 'you', 'him']

In [31]:
best_3_students[0]

'me'

In [32]:
best_3_students[1]

'you'

In [33]:
best_3_students[2]

'him'

In [34]:
best_3_students[3]

IndexError: list index out of range

In [35]:
import jovian

In [36]:
jovian.commit(project='python-variables-and-data-types')

[jovian] Creating a new project "usm811/python-variables-and-data-types"
[jovian] Committed successfully! https://jovian.ai/usm811/python-variables-and-data-types

'https://jovian.ai/usm811/python-variables-and-data-types'

### Built-in data types in python

In [37]:
a_variable

23

In [38]:
type(a_variable)

int

In [39]:
is_today_saturday

False

In [40]:
type(is_today_saturday)

bool

In [41]:
my_favorite_car

'ABC'

In [42]:
type(my_favorite_car)

str

In [43]:
best_3_students

['me', 'you', 'him']

In [44]:
type(best_3_students)

list

### Integer

In [45]:
current_year = 2022

In [46]:
current_year

2022

In [47]:
type(current_year)

int

###### Unlike some other programming languages, integers in Python can be arbitrarily large (or small).

###### There's no lowest or highest value for integers, and there's just one `int` type (as opposed to `short`, `int`, `long`, `long long`, `unsigned int`, etc. in C/C++/Java).

In [50]:
a_large_negative_integer = -987654321123456789009876543211234567890

In [51]:
a_large_negative_integer

-987654321123456789009876543211234567890

In [52]:
type(a_large_negative_integer)

int

### Float

In [53]:
pi

NameError: name 'pi' is not defined

In [55]:
import math

In [57]:
math.pi

3.141592653589793

In [58]:
defined_pi = math.pi

In [59]:
defined_pi

3.141592653589793

In [60]:
type(defined_pi)

float

In [61]:
a_number = 3.0

In [62]:
a_number

3.0

In [63]:
type(a_number)

float

In [64]:
another_num = 4.

In [65]:
another_num

4.0

In [66]:
type(another_num)

float

#### How to write floating point numbers by using scientific notation with an "e" to indicate the power of 10.

In [67]:
one_hundredth = 1e-2

In [68]:
one_hundredth

0.01

In [69]:
type(one_hundredth)

float

In [70]:
avogadro_num = 6.02214076e23

In [71]:
avogadro_num

6.02214076e+23

In [72]:
type(avogadro_num)

float

### Typecasting

In [73]:
current_year

2022

In [74]:
type(current_year)

int

In [75]:
float(current_year)

2022.0

In [76]:
a_large_negative_integer

-987654321123456789009876543211234567890

In [77]:
float(a_large_negative_integer)

-9.876543211234567e+38

In [78]:
defined_pi

3.141592653589793

In [79]:
int(defined_pi)

3

In [80]:
avogadro_num

6.02214076e+23

In [81]:
int(avogadro_num)

602214075999999987023872

#### While performing arithmetic operations, integers are automatically converted to `float`s if any of the operands is a `float`.

#### Also, the division operator `/` always returns a `float`, even if both operands are integers.

#### Use the `//` operator if you want the result of the division to be an `int`.

In [82]:
type(45 * 3)

int

In [83]:
type(45 * 3.0)

float

In [84]:
type(10/3)

float

In [85]:
type(10/2)

float

In [86]:
type(10//2)

int

In [87]:
10//2

5

### Boolean

In [88]:
is_today_Sunday = True

In [89]:
is_today_Sunday

True

In [90]:
type(is_today_Sunday)

bool

In [91]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10

In [92]:
is_ice_bag_expensive

False

In [93]:
type(is_ice_bag_expensive)

bool

#### Booleans are automatically converted to `int`s when used in arithmetic operations. `True` is converted to `1` and `False` is converted to `0`.

In [94]:
5 + True

6

In [95]:
3.0 + True

4.0

In [96]:
5 + False

5

In [97]:
3.0 - False

3.0

In [98]:
5 * False

0

In [99]:
5 * True

5

##### Any value in Python can be converted to a Boolean using the `bool` function. 

Only the following values evaluate to `False` (they are often called *falsy* values):

1. The value `False` itself
2. The integer `0`
3. The float `0.0`
4. The empty value `None`
5. The empty text `""`
6. The empty list `[]`
7. The empty tuple `()`
8. The empty dictionary `{}`
9. The empty set `set()`
10. The empty range `range(0)`

Everything else evaluates to `True` (a value that evaluates to `True` is often called a *truthy* value).

In [101]:
bool(False)

False

In [102]:
bool(0)

False

In [103]:
bool(0.0)

False

In [104]:
bool(None)

False

In [105]:
bool("")

False

In [106]:
bool([])

False

In [107]:
bool(())

False

In [108]:
bool({})

False

In [109]:
bool(set())

False

In [110]:
bool(range(0))

False

In [111]:
bool(True)

True

In [112]:
bool(1)

True

In [113]:
bool(2.0)

True

In [114]:
bool('hello')

True

In [115]:
bool([1,2])

True

In [116]:
bool((2,3))

True

In [117]:
bool(range(10))

True

### None

The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

In [118]:
nothing_value = None

In [121]:
nothing_value   # it returns nothing.

In [122]:
type(nothing_value)

NoneType

### String

In [123]:
today = 'Saturday'

In [124]:
today

'Saturday'

In [125]:
type(today)

str

You can use single quotes inside a string written with double quotes, and vice versa.

In [126]:
my_second_notebood = "It's my second notebook."

In [127]:
my_second_notebood

"It's my second notebook."

In [130]:
topics_in_second_notebook = 'I covered "Storing Data into Variables" and "Types of Variables" in the second notebook'

In [131]:
topics_in_second_notebook

'I covered "Storing Data into Variables" and "Types of Variables" in the second notebook'

To use a double quote within a string written with double quotes, *escape* the inner quotes by prefixing them with the `\` character.

In [132]:
new_topics = "I expect the new topics: \"List\",\"Dictionary\" in the next lesson."

In [133]:
new_topics

'I expect the new topics: "List","Dictionary" in the next lesson.'

In [134]:
yet_another_pun = '''Son: "Dat, can you tell me what a solar eclipse is ?"
Dad: "NO sun."
'''

In [135]:
yet_another_pun

'Son: "Dat, can you tell me what a solar eclipse is ?"\nDad: "NO sun."\n'

In [136]:
print(yet_another_pun)

Son: "Dat, can you tell me what a solar eclipse is ?"
Dad: "NO sun."

In [137]:
a_music_pun = """
Two windmills are standing in a field and onw asks the other,
"What kind of music do you like ?"

The other says,
"I'm a big metal fan."
"""

In [138]:
print(a_music_pun)

Two windmills are standing in a field and onw asks the other,
"What kind of music do you like ?"

The other says,
"I'm a big metal fan."

In [139]:
today

'Saturday'

In [140]:
len(today)

8

In [141]:
len(a_music_pun)

138

In [142]:
multiline_string = """a
b"""
multiline_string

'a\nb'

In [143]:
len(multiline_string)

3

#### A string can be converted into a list of characters using `list` function.

In [145]:
list(multiline_string)

['a', '\n', 'b']

In [146]:
today

'Saturday'

In [147]:
today[0]

'S'

In [148]:
today[3]

'u'

In [149]:
today[:3]

'Sat'

In [150]:
len(today)

8

In [151]:
today[5:8]

'day'

In [152]:
today[::-1]

'yadrutaS'

#### You can also check whether a string contains a some text using the `in` operator.

In [153]:
'day' in today

True

In [154]:
'Sun' in today

False

In [155]:
'sun' in today

False

In [156]:
'Sat' in today

True

In [157]:
today

'Saturday'

Two or more strings can be joined or *concatenated* using the `+` operator. Be careful while concatenating strings, sometimes you may need to add a space character `" "` between words.

In [158]:
full_name = "Derek O'Brien"

In [159]:
greeting = "Hello"

In [160]:
greeting + full_name

"HelloDerek O'Brien"

In [161]:
greeting + " " + full_name + "!"   # add additional space.

"Hello Derek O'Brien!"

In [162]:
!pip install jovian --upgrade --quiet

In [163]:
import jovian

In [164]:
jovian.commit(project='python-variables-and-data-types')

[jovian] Updating notebook "usm811/python-variables-and-data-types" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/usm811/python-variables-and-data-types

'https://jovian.ai/usm811/python-variables-and-data-types'

#### Strings in Python have many built-in *methods* that are used to manipulate them. Let's try out some common string methods.

> **Methods**: Methods are functions associated with data types and are accessed using the `.` notation e.g. `variable_name.method()` or `"a string".method()`. Methods are a powerful technique for associating common operations with values of specific data types.

The `.lower()`, `.upper()` and `.capitalize()` methods are used to change the case of the characters.

In [165]:
today

'Saturday'

In [166]:
today.lower()

'saturday'

In [167]:
today.upper()

'SATURDAY'

In [169]:
today   # The origional string will be same.

'Saturday'

In [170]:
'monday'.capitalize()   # changes 1st-character to uppercase.

'Monday'

In [171]:
another_day

NameError: name 'another_day' is not defined

In [172]:
another_day = today.replace('Satur', 'Wednes')

In [173]:
another_day

'Wednesday'

In [174]:
today

'Saturday'

#### The use of `.split()` method.

In [181]:
week_days = "Sun,Mon,Tue,Wed,Thu,Fri,Sat"

In [182]:
week_days

'Sun,Mon,Tue,Wed,Thu,Fri,Sat'

In [183]:
week_days.split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

#### The `.strip` method removes whitespace characters from the beginning and end of a string.

In [184]:
a_long_line = "       This is a long line with some space before, after,     and some space in the middle..    "

In [185]:
a_long_line

'       This is a long line with some space before, after,     and some space in the middle..    '

In [186]:
a_long_line_stripped = a_long_line.strip()

In [187]:
a_long_line_stripped

'This is a long line with some space before, after,     and some space in the middle..'

#### The `.format` method combines values of other data types, e.g., integers, floats, booleans, lists, etc. with strings. You can use `format` to construct output messages for display.

In [191]:
# Input variable
cost_of_ice_bag = 1.25
profit_margin = 20/100
number_of_bags = 500

# Template for output message
output_template = """If a grocery store sells a ice bag at ${} per bag, with a profit of {}%,
then the total profit store makes by selling {} ice bags is ${}."""

In [192]:
# Setting values for the output template.
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
output_message = output_template.format(cost_of_ice_bag, profit_margin, number_of_bags, total_profit)

#printing output message.
print(output_message)

If a grocery store sells a ice bag at $1.25 per bag, with a profit of 0.2%,
then the total profit store makes by selling 500 ice bags is $125.0.

Notice how the placeholders `{}` in the `output_template` string are replaced with the arguments provided to the `.format` method.

It is also possible to use the string concatenation operator `+` to combine strings with other values. However, those values must first be converted to strings using the `str` function.

In [194]:
"If a grocery store sells ice bags at $" + cost_of_ice_bag + ", with a profit margin of " + profit_margin + "then the total profit store makes by selling " + number_of_bags + " ice bags is " + total_profit + "."

TypeError: can only concatenate str (not "float") to str

In [221]:
"If a grocery store sells ice bags at $" + str(cost_of_ice_bag) + ", with a profit margin of " + str(profit_margin) + "% then the total profit store makes by selling " + str(number_of_bags) + " ice bags is " + str(total_profit) + "."

'If a grocery store sells ice bags at $1.25, with a profit margin of 0.2% then the total profit store makes by selling 500 ice bags is 125.0.'

You can use `str()` to convert a value of any data type into a string.

In [198]:
str(55.11)

'55.11'

In [199]:
str(True)

'True'

In [200]:
best_3_students

['me', 'you', 'him']

In [201]:
type(best_3_students)

list

In [202]:
str(best_3_students)

"['me', 'you', 'him']"

In [203]:
type(str(best_3_students))

str

#### Strings also support the comparison operators `==` and `!=` for checking whether two strings are equal.

In [211]:
first_name = "Usman"

In [212]:
first_name == "Tariq"

False

In [215]:
first_name == "usman"   # this comparison is case sensitive.

False

In [216]:
first_name == 'Usman'

True

In [217]:
first_name != "usman"

True

In [218]:
first_name == "usman" or first_name == "Usman"

True

In [219]:
jovian.commit()

[jovian] Updating notebook "usm811/python-variables-and-data-types" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/usm811/python-variables-and-data-types

'https://jovian.ai/usm811/python-variables-and-data-types'

### List

In [222]:
fruits = ['apple', 'banana', 'cherry']

In [223]:
fruits

['apple', 'banana', 'cherry']

In [224]:
type(fruits)

list

Let's try creating a list containing values of different data types, including another list.

In [225]:
a_list = [12, 'hello', None, 3.14, fruits, 3<=5]

In [226]:
a_list

[12, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [227]:
empty_list = []

In [228]:
empty_list

[]

#### Use `len()` function to calculate the number of values in a list.

In [229]:
fruits

['apple', 'banana', 'cherry']

In [230]:
len(fruits)

3

In [231]:
print('Number of fruits: ' + str(len(fruits)))

Number of fruits: 3

In [232]:
a_list

[12, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [233]:
len(a_list)

6

In [234]:
len(empty_list)

0

In [239]:
fruits[0]  # first element in the list.

'apple'

In [240]:
fruits[1]  # second element in the list.

'banana'

In [241]:
fruits[2] # third element in the list.

'cherry'

In [242]:
fruits[3]  # fourth element, there is no more element in list.

IndexError: list index out of range

In [243]:
fruits[-1] # accessing the last element in the list

'cherry'

In [244]:
fruits[-2] # accessing 2nd-last element in the list

'banana'

In [246]:
fruits[-3] # accessing 3rd-last(1st) element in the list

'apple'

In [247]:
fruits[-4] # out of index range

IndexError: list index out of range

In [248]:
a_list

[12, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [249]:
len(a_list)

6

In [253]:
a_list[0:1] # element at index '1' will not included

[12]

In [254]:
a_list[0:3] # element at index '3' will not included

[12, 'hello', None]

In [255]:
a_list[3]

3.14

In [256]:
a_list[0:]

[12, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [258]:
a_list[3:]

[3.14, ['apple', 'banana', 'cherry'], True]

In [259]:
a_list[-2:-5]

[]

In [260]:
a_list[-5:-2]

['hello', None, 3.14]

#### changing the value in the list.

In [261]:
fruits

['apple', 'banana', 'cherry']

In [262]:
fruits[1] = 'blueberry'

In [263]:
fruits

['apple', 'blueberry', 'cherry']

#### A new value can be added to the end of a list by using the `append()` method.

In [264]:
fruits

['apple', 'blueberry', 'cherry']

In [265]:
fruits.append('dates')

In [266]:
fruits

['apple', 'blueberry', 'cherry', 'dates']

#### A new value can also be inserted at a specific index using the `insert(index, value)` method.

In [267]:
fruits.insert(1, 'banana')

In [268]:
fruits

['apple', 'banana', 'blueberry', 'cherry', 'dates']

#### You can remove a value from a list using the `remove()` method.

In [269]:
fruits.remove('blueberry')

In [270]:
fruits

['apple', 'banana', 'cherry', 'dates']

##### What happens if a list has multiple instances of the value passed to `.remove()`? Try it out.

In [271]:
fruits.remove('dates', 'cherry')

TypeError: list.remove() takes exactly one argument (2 given)

In [272]:
fruits

['apple', 'banana', 'cherry', 'dates']

#### The method `pop(index)` is also used to remove the value at specified index.

#### This method also returns the removed element.

In [280]:
fruits = ['apple', 'banana', 'cherry', 'dates']

In [281]:
fruits.pop(1)

'banana'

In [282]:
fruits

['apple', 'cherry', 'dates']

If no index is provided, the `pop` method removes the last element of the list.

In [284]:
fruits.pop()

'dates'

In [285]:
fruits

['apple', 'cherry']

You can test whether a list contains a value using the `in` operator.

In [286]:
'pineapple' in fruits

False

In [287]:
'cherry' in fruits

True

In [288]:
fruits

['apple', 'cherry']

In [289]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']

In [290]:
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

#### To create a copy of a list, use the `copy()` method. Modifying the copied list does not affect the original.

In [291]:
more_fruits_copy = more_fruits.copy()

In [292]:
more_fruits_copy

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [293]:
# Modify the copy
more_fruits_copy.remove('pineapple')
more_fruits_copy.pop()
more_fruits_copy

['apple', 'cherry', 'tomato', 'guava', 'dates']

In [294]:
# Original list remains unchanged.
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

#### Note that you cannot create a copy of a list by simply creating a new variable using the assignment operator `=`. 

#### The new variable will point to the same list, and any modifications performed using either variable will affect the other.

In [295]:
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [296]:
more_fruits_not_a_copy = more_fruits

In [297]:
more_fruits_not_a_copy.remove('pineapple')
more_fruits_not_a_copy.pop()

'banana'

In [298]:
more_fruits_not_a_copy

['apple', 'cherry', 'tomato', 'guava', 'dates']

In [299]:
more_fruits   # original list also changed.

['apple', 'cherry', 'tomato', 'guava', 'dates']

Just like strings, there are several in-built methods to manipulate a list. However, unlike strings, most list methods modify the original list rather than returning a new one. Check out some common list operations here: https://www.w3schools.com/python/python_ref_list.asp .


Following are some exercises you can try out with list methods (use the blank code cells below):

* Reverse the order of elements in a list
* Add the elements of one list at the end of another list
* Sort a list of strings in alphabetical order
* Sort a list of numbers in decreasing order

In [303]:
list_1 = ['c','b','a']
list_2 = ['d','e','f']

##### `reverse()` method change the order of a list.

In [309]:
list_1.reverse()  # it reverse the order of original list

In [310]:
list_1  # now the order of elements in list_1 has been changed.

['a', 'b', 'c']

#### `extend()` method add 2nd-list elements at the end of 1st-list.

In [311]:
list_1

['a', 'b', 'c']

In [312]:
list_2

['d', 'e', 'f']

In [313]:
list_1.extend(list_2)

In [314]:
list_1

['a', 'b', 'c', 'd', 'e', 'f']

In [315]:
list_2

['d', 'e', 'f']

#### The `extend()` method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

#### use of `sort()` method to arrange list elements in alphabetical order.

In [316]:
list_2.reverse() # reverse the order of list_2

In [317]:
list_2

['f', 'e', 'd']

In [320]:
list_2.sort()  # arrange the elements alphabatically.

In [321]:
list_2

['d', 'e', 'f']

#### Sort a list of numbers in decreasing order

In [326]:
num_list = [1,9,8,2,4,3,7,6,5]
num_list

[1, 9, 8, 2, 4, 3, 7, 6, 5]

In [327]:
num_list.sort(reverse = True)

In [328]:
num_list

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
jovian.commit()

### Tuple

A tuple is an ordered collection of values, similar to a list. 

However, **it is not possible to add, remove, or modify values in a tuple.**

A tuple is created by enclosing values within parentheses `(` and `)`, separated by commas.

> Any data structure that cannot be modified after creation is called ***immutable***. You can think of tuples as immutable lists.

Let's try some experiments with tuples.

In [5]:
fruits = ('apple', 'cherry', 'dates')

In [9]:
# check the number of elements in the tuple.
len(fruits)

3

In [10]:
# getting the first element (positive index)
fruits[0]

'apple'

In [11]:
# getting the last element (negative index)
fruits[-1]

'dates'

In [12]:
# check if tuple contains an element
'dates' in fruits

True

In [14]:
# try to change an element in tuple

fruits[0] = 'avocado'

TypeError: 'tuple' object does not support item assignment

In [15]:
# try to append an element in tuple

fruits.append('blueberry')

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
# try to remove an element from tuple

fruits.remove('apple')

AttributeError: 'tuple' object has no attribute 'remove'

In [17]:
# try to remove element from tuple by using pop() method.

fruits.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [18]:
fruits

('apple', 'cherry', 'dates')

In [19]:
type(fruits)

tuple

##### you can also skip the parantheses ( ) while creating a tuple.

##### Python automatically converts comma-separated values into a tuple.

In [20]:
best_3_friends = 'me', 'you', 'he'

In [21]:
best_3_friends

('me', 'you', 'he')

In [22]:
type(best_3_friends)

tuple

##### You can also create a tuple with just one element by typing a comma after it. 

##### Just wrapping it with parentheses `(` and `)` won't make it a tuple.

In [23]:
single_element_tuple = 11,

In [24]:
single_element_tuple

(11,)

In [25]:
type(single_element_tuple)

tuple

##### Single element in brackets, without comma at the end, is not tuple.

In [26]:
not_a_tuple = (44)

In [27]:
not_a_tuple

44

In [28]:
type(not_a_tuple)

int

##### Tuples are often used to create multiple variables with a single statement.

In [29]:
point = (11, 22)

In [31]:
point

(11, 22)

In [32]:
type(point)

tuple

In [33]:
point_x, point_y = point

In [34]:
point_x

11

In [35]:
type(point_x)

int

In [36]:
point_y

22

In [37]:
type(point_y)

int

##### You can convert a list into a tuple using the `tuple` function, and vice versa using the `list` function

In [38]:
num_list = ['one', 'two', 'three']

In [42]:
num_list

['one', 'two', 'three']

In [43]:
type(num_list)

list

In [44]:
num_tuple = tuple(num_list)

In [45]:
num_tuple

('one', 'two', 'three')

In [49]:
type(num_tuple)

tuple

In [50]:
list_from_tuple = list(num_tuple)

In [51]:
list_from_tuple

['one', 'two', 'three']

In [52]:
type(list_from_tuple)

list

##### Tuples have just two built-in methods: `count` and `index`. 

Can you figure out what they do? While you look could look for documentation and examples online, there's an easier way to check a method's documentation, using the `help` function.

In [57]:
a_tuple = 22, 'hello', True, 32, 73, 'hello', True, 22, True

In [58]:
a_tuple

(22, 'hello', True, 32, 73, 'hello', True, 22, True)

In [59]:
help(a_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [65]:
?a_tuple.index

#### use of `count()` method with tuple.

In [61]:
a_tuple.count(22)

2

In [62]:
a_tuple.count(True)

3

In [63]:
a_tuple.count('hello')

2

#### use of `index()` method with tuple.

In [66]:
a_tuple.index(True)

2

In [67]:
a_tuple.index('hello')

1

In [68]:
a_tuple.index(22)

0

### Dictionary

In [69]:
person_1 = {
    'name': 'Usman Tariq',
    'gender': 'Male',
    'age': 35,
    'married': False
}

In [70]:
person_1

{'name': 'Usman Tariq', 'gender': 'Male', 'age': 35, 'married': False}

In [71]:
type(person_1)

dict

#### Another way to create a dictionary.

In [72]:
person_2 = dict(name='Amna Tariq', gender='Female', age='33', married=True)

In [74]:
person_2

{'name': 'Amna Tariq', 'gender': 'Female', 'age': '33', 'married': True}

In [75]:
type(person_2)

dict

#### keys can be used to access values using square brackets [ and ].

In [77]:
person_1['name']

'Usman Tariq'

In [79]:
person_1['age']

35

In [80]:
person_2.get('name')

'Amna Tariq'

In [81]:
person_2.get('age')

'33'

#### Difference between `.get('key')` and `['key']` while access the value from dictionary.

If a key isn't present in the dictionary, then a `KeyError` is *thrown*.

In [82]:
person_1['address']

KeyError: 'address'

In [85]:
person_1.get('address')  # nothing will return.

#### The `get()` method also accepts a default value, returned if the key is not present in the dictionary.

In [86]:
person_1.get('address', 'Unknown')

'Unknown'

In [101]:
person_1.get('name', 'No entry')

'Usman Tariq'

##### You can check whether a key is present in a dictionary using the `in` operator.

In [87]:
'name' in person_1

True

In [88]:
'address' in person_1

False

##### You can change the value associated with a key using the assignment operator.

In [89]:
person_1['married']

False

In [90]:
person_1['married'] = True

In [91]:
person_1['married']

True

##### The assignment operator can also be used to add new key-value pairs to the dictionary.

In [92]:
person_1

{'name': 'Usman Tariq', 'gender': 'Male', 'age': 35, 'married': True}

In [93]:
person_1['address'] = '1, penny lane'

In [94]:
person_1

{'name': 'Usman Tariq',
 'gender': 'Male',
 'age': 35,
 'married': True,
 'address': '1, penny lane'}

#### To remove a key and the associated value from a dictionary, use the `pop` method.

In [95]:
person_1.pop('address')

'1, penny lane'

In [96]:
person_1

{'name': 'Usman Tariq', 'gender': 'Male', 'age': 35, 'married': True}

#### Dictionaries also provide methods to view the list of 
#### keys, values, or key-value pairs inside it.

In [97]:
person_1.keys()

dict_keys(['name', 'gender', 'age', 'married'])

In [98]:
person_1.values()

dict_values(['Usman Tariq', 'Male', 35, True])

In [99]:
person_1.items()

dict_items([('name', 'Usman Tariq'), ('gender', 'Male'), ('age', 35), ('married', True)])

In [100]:
person_1.items()[1]

TypeError: 'dict_items' object is not subscriptable

In [102]:
jovian.commit()

[jovian] Updating notebook "usm811/python-variables-and-data-types" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/usm811/python-variables-and-data-types

'https://jovian.ai/usm811/python-variables-and-data-types'

#### Dictionaries provide many other methods. You can learn more about them here: https://www.w3schools.com/python/python_ref_dictionary.asp .

Here are some experiments you can try out with dictionaries (use the empty cells below):
* What happens if you use the same key multiple times while creating a dictionary?
* How can you create a copy of a dictionary (modifying the copy should not change the original)?
* Can the value associated with a key itself be a dictionary?
* How can you add the key-value pairs from one dictionary into another dictionary? Hint: See the `update` method.
* Can the dictionary's keys be something other than a string, e.g., a number, boolean, list, etc.?

In [105]:
person_1

{'name': 'Usman Tariq', 'gender': 'Male', 'age': 35, 'married': True}

In [106]:
person_2

{'name': 'Amna Tariq', 'gender': 'Female', 'age': '33', 'married': True}

#### `clear()` --- Removes all the elements from the dictionary.

In [107]:
person_2.clear()

In [108]:
person_2

{}

#### `copy()` --- Returns a copy of the dictionary.

In [109]:
copied_person_1 = person_1.copy()

In [110]:
copied_person_1

{'name': 'Usman Tariq', 'gender': 'Male', 'age': 35, 'married': True}

#### `formkeys(tuple_of_keys, value)` --- Return a dictionary with the specified keys and value.

In [121]:
tuple_of_keys = ['id','name','degree','grade']
value = None
#list_of_values = list('101','Manohar Ali', 'BS Data Science', 'A-')

dict_students = dict.fromkeys(tuple_of_keys, value)
dict_students

{'id': None, 'name': None, 'degree': None, 'grade': None}

#### `get()` --- Return the value of the specified key

In [126]:
dict_students.get('name')

In [127]:
person_1.get('name', 'No entry')

'Usman Tariq'

In [128]:
print(dict_students.get('name'))

None

#### `items()` --- Return a list containing a tuple for each key-value pair.

In [129]:
person_1.items()

dict_items([('name', 'Usman Tariq'), ('gender', 'Male'), ('age', 35), ('married', True)])

#### `keys()` --- Returns a list containing dictionary's keys.

In [130]:
person_1.keys()

dict_keys(['name', 'gender', 'age', 'married'])

#### `values()` --- Returns a list of all values in the dictionary.

In [131]:
person_1.values()

dict_values(['Usman Tariq', 'Male', 35, True])

#### Adding new key-value pair in the dictionary

In [132]:
person_1

{'name': 'Usman Tariq', 'gender': 'Male', 'age': 35, 'married': True}

In [133]:
person_1['address'] = 'Street 46, Wahdat Colony'

In [134]:
person_1

{'name': 'Usman Tariq',
 'gender': 'Male',
 'age': 35,
 'married': True,
 'address': 'Street 46, Wahdat Colony'}

#### `pop()` --- Removes the element with the specified key.

In [135]:
person_1.pop('married')

True

In [136]:
person_1

{'name': 'Usman Tariq',
 'gender': 'Male',
 'age': 35,
 'address': 'Street 46, Wahdat Colony'}

#### `popitem()` --- Removes the last inserted key-value pair.

In [137]:
person_1['married'] = False

In [138]:
person_1

{'name': 'Usman Tariq',
 'gender': 'Male',
 'age': 35,
 'address': 'Street 46, Wahdat Colony',
 'married': False}

In [139]:
person_1.popitem()   # removes the last inserted key-value pair.

('married', False)

In [140]:
person_1

{'name': 'Usman Tariq',
 'gender': 'Male',
 'age': 35,
 'address': 'Street 46, Wahdat Colony'}

#### `setdefault()` --- Return the value of the specified key

#### If the key does not exist: it will insert the key with the specified value.

In [142]:
person_1.setdefault('name', 'not mentioned')

'Usman Tariq'

In [143]:
person_1.setdefault('married', False)

False

In [144]:
person_1

{'name': 'Usman Tariq',
 'gender': 'Male',
 'age': 35,
 'address': 'Street 46, Wahdat Colony',
 'married': False}

#### `update()` --- Updates the dictionary with the specified key-value pairs.

In [145]:
person_1.update({'occupation': 'teaching'})

In [146]:
person_1

{'name': 'Usman Tariq',
 'gender': 'Male',
 'age': 35,
 'address': 'Street 46, Wahdat Colony',
 'married': False,
 'occupation': 'teaching'}

In [147]:
jovian.commit()

[jovian] Updating notebook "usm811/python-variables-and-data-types" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/usm811/python-variables-and-data-types

'https://jovian.ai/usm811/python-variables-and-data-types'