## Branching with `if`, `else` and `elif`

### The `if` statement

In [4]:
a_number = 22

In [5]:
a_number

22

In [7]:
22 % 2   # get the remainder

0

In [8]:
if a_number % 2 == 0:
    print("We are inside an if-block")
    print('The given number {} is even.'.format(a_number))

We are inside an if-block
The given number 22 is even.

##### No result will print when `if` statement is not true.

In [9]:
another_number = 33

In [10]:
if another_number % 2 == 0:
    print('The given number {} is even'.format(another_number))

### The `elif` statement

In [18]:
a_number

22

In [19]:
if a_number % 2 == 0:
    print('The given number {} is even.'.format(a_number))
else:
    print('The given number {} is odd.'.format(a_number))

The given number 22 is even.

In [20]:
another_number

33

In [21]:
if another_number % 2 == 0:
    print('The given number {} is even.'.format(another_number))
else:
    print('The given number {} is odd.'.format(another_number))

The given number 33 is odd.

In [22]:
the_3_musketeers = ('Athos', 'Porthos', 'Armais')

In [23]:
a_candidate = "D'Artagnan"

In [24]:
if a_candidate in the_3_musketeers:
    print('{} is a musketeer.'.format(a_candidate))
else:
    print('{} is not a musketeer.'.format(a_candidate))

D'Artagnan is not a musketeer.

### The `else` statement

In [11]:
today = 'Wednesday'

In [13]:
if today == 'Sunday':
    print('Today is Sunday.')
elif today == 'Monday':
    print('Today is Monday.')
elif today == 'Tuesday':
    print('Today is Tuesday.')
elif today == 'Wednesday':
    print('Today is Wednesday.')
elif today == 'Thursday':
    print('Today is Thursday.')
elif today == 'Friday':
    print('Today is Friday.')
elif today == 'Saturday':
    print('Today is Saturday.')

Today is Wednesday.

In the above example, the first 3 conditions evaluate to False, so none of the 3 messages were printed.

The 4th condition evaluates to True, so the corresponding message was printed.

The remaining conditions were skipped.

In [14]:
b_number = 15

In [15]:
if b_number % 2 == 0:
    print('{} is divisible by 2'.format(b_number))
elif b_number % 3 == 0:
    print('{} is devisible by 3'.format(b_number))
elif b_number % 5 == 0:
    print('{} is devisible by 5'.format(b_number))
elif b_number % 7 == 0:
    print('{} is divisible by 7'.format(b_number))

15 is devisible by 3

###### Note that the message `15 is divisible by 5` is not printed because the condition `a_number % 5 == 0` isn't evaluated, since the previous condition `a_number % 3 == 0` evaluates to `True`. 

###### This is the key difference between using a chain of `if`, `elif`, `elif`... statements vs. a chain of `if` statements, where each condition is evaluated independently.

In [16]:
if b_number % 2 == 0:
    print('{} is divisible by 2'.format(b_number))
if b_number % 3 == 0:
    print('{} is devisible by 3'.format(b_number))
if b_number % 5 == 0:
    print('{} is devisible by 5'.format(b_number))
if b_number % 7 == 0:
    print('{} is divisible by 7'.format(b_number))

15 is devisible by 3
15 is devisible by 5

### Using `if`, `elif`, and `else` together

You can also include an `else` statement at the end of a chain of `if`, `elif`... statements. This code within the `else` block is evaluated when none of the conditions hold true.

In [25]:
c_number = 49

In [26]:
if c_number % 2 == 0:
    print('{} is divisible by 2'.format(c_number))
elif c_number % 3 == 0:
    print('{} is divisible by 3'.format(c_number))
elif c_number % 5 == 0:
    print('{} is divisible by 5'.format(c_number))
else:
    print('All checks failed.')
    print('{} is not divisible by 2, 3 or 5'.format(c_number))

All checks failed.
49 is not divisible by 2, 3 or 5

In [27]:
d_number = 15
if d_number % 2 == 0:
    print('{} is divisible by 2'.format(d_number))
elif d_number % 3 == 0:
    print('{} is divisible by 3'.format(d_number))
elif d_number % 5 == 0:
    print('{} is divisible by 5'.format(d_number))
else:
    print('All checks failed.')
    print('{} is not divisible by 2, 3 or 5'.format(d_number))

15 is divisible by 3

### Non-Boolean Conditions

Note that conditions do not necessarily have to be booleans. In fact, a condition can be any value. The value is converted into a boolean automatically using the `bool` operator. This means that falsy values like `0`, `''`, `{}`, `[]`, etc. evaluate to `False` and all other values evaluate to `True`.

In [28]:
if '':
    print('The condition evaluated to True.')
else:
    print('The condition evaluated to False.')

The condition evaluated to False.

In [29]:
if 'hello':
    print('The condition evaluated to True.')
else:
    print('The condition evaluated to False.')

The condition evaluated to True.

In [30]:
if { 'a': 34 }:
    print('The condition evaluted to True.')
else:
    print('The condition evaluted to False.')

The condition evaluted to True.

In [31]:
if None:
    print('The condition evaluted to True.')
else:
    print('The condition evaluted to False.')

The condition evaluted to False.

### Nested conditional statements

The code inside an `if` block can also include an `if` statement inside it. This pattern is called `nesting` and is used to check for another condition after a particular condition holds true.

In [18]:
a_num = 14

In [19]:
a_num

14

In [20]:
if a_num % 2 == 0:
    print('{} is even.'.format(a_num))
    if a_num % 3 == 0:
        print('{} is also divisible by 3.'.format(a_num))
    else:
        print('{} is not divisible by 3.'.format(a_num))
else:
    print('{} is odd.'.format(a_num))
    if a_num % 5 == 0:
        print('{} is divisible by 5.'.format(a_num))
    else:
        print('{} is not divisible by 5.'.format(a_num))

14 is even.
14 is not divisible by 3.

### Shorthand `if` conditional expression

A frequent use case of the `if` statement involves testing a condition and setting a variable's value based on the condition.

In [2]:
a_num = 13

if a_num % 2 == 0:
    parity = 'even'
else:
    parity = 'odd'

print('The number {} is {}.'.format(a_num, parity))

The number 13 is odd.

##### Python provides a shorter syntax, which allows writing such conditions in a single line of code. 

##### It is known as a *conditional expression*, sometimes also referred to as a *ternary operator*. It has the following syntax:

```
x = true_value if condition else false_value
```

##### It has the same behavior as the following `if`-`else` block:

```
if condition:
    x = true_value
else:
    x = false_value
```

Let's try it out for the example above.

In [3]:
a_num

13

In [4]:
parity = 'even' if a_num % 2 == 0 else 'odd'

In [5]:
print('The number {} is {}.'.format(a_num, parity))

The number 13 is odd.

### Statements and Expressions

The conditional expression highlights an essential distinction between *statements* and *expressions* in Python. 

> **Statements**: A statement is an instruction that can be executed. Every line of code we have written so far is a statement e.g. assigning a variable, calling a function, conditional statements using `if`, `else`, and `elif`, loops using `for` and `while` etc.

> **Expressions**: An expression is some code that evaluates to a value. Examples include values of different data types, arithmetic expressions, conditions, variables, function calls, conditional expressions, etc. 


Most expressions can be executed as statements, but not all statements are expressions. For example, the regular `if` statement is not an expression since it does not evaluate to a value. It merely performs some branching in the code. Similarly, loops and function definitions are not expressions (we'll learn more about these in later sections).

As a rule of thumb, an expression is anything that can appear on the right side of the assignment operator `=`. You can use this as a test for checking whether something is an expression or not. You'll get a syntax error if you try to assign something that is not an expression.

In [10]:
a_num

13

In [7]:
# `if` statement

result = if a_num % 2 == 0:
    'even'
else:
    'odd'

SyntaxError: invalid syntax (568109672.py, line 3)

In [8]:
# `if` expression
result = 'even' if a_num % 2 == 0 else 'odd'

In [9]:
result

'odd'

### The `pass` statement

`if` statements cannot be empty, there must be at least one statement in every `if` and `elif` block.

You can use the `pass` statement to do nothing and avoid getting an error.

In [12]:
b_num = 9

In [13]:
if b_num % 2 == 0:
elif b_num % 3 == 0:
    print('{} is divisible by 3 but not divisible by 2'.format(b_num))

IndentationError: expected an indented block (3003340987.py, line 2)

In [14]:
if b_num % 2 == 0:
    pass
elif b_num % 3 == 0:
    print('{} is divisible by 3 but not divisible by 2'.format(b_num))

9 is divisible by 3 but not divisible by 2

### Iteration with `while` loops

`while` loops have the following syntax:

```
while condition:
    statement(s)
```

Statements in the code block under `while` are executed repeatedly as long as the `condition` evaluates to `True`. Generally, one of the statements under `while` makes some change to a variable that causes the condition to evaluate to `False` after a certain number of iterations.

Let's try to calculate the factorial of `100` using a `while` loop. The factorial of a number `n` is the product (multiplication) of all the numbers from `1` to `n`, i.e., `1*2*3*...*(n-2)*(n-1)*n`.

In [16]:
result = 1
i = 1

while i <= 100:
    result = result * i
    i = i + 1

print('The factorial of 100 is: \n{}'.format(result))

The factorial of 100 is:
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

#### Compute the Runtime of the cell:

##### You can check how long a cell takes to execute by adding the magic command %%time at the top of a cell. 

##### Try checking how long it takes to compute the factorial of 100, 1000, 10000, 100000, etc.

In [8]:
%%time

result = 1
i = 1

while i <= 1000:
    result *= i
    i += 1
    
print(result)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
CPU times: user 591 µs, sys: 0 ns, total: 591 µs
Wall time: 546 µs

##### Here's another example that uses two `while` loops to create an interesting pattern.

In [4]:
line = '*'
max_length = 10

while len(line) < max_length:
    print(line)
    line += '*'
    
# print(len(line))
# print(line[:-9])
while len(line) > 0:
    print(line)
    line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [5]:
line = '*'
ml = 10
while len(line) < ml:
    print(line)
    line += '*'

*
**
***
****
*****
******
*******
********
*********

In [7]:
line = '*********'
while len(line) > 0:
    print(line)
    line = line[:-1]

*********
********
*******
******
*****
****
***
**
*

In [10]:
h = 5

for x in range(h):
    print(" " * (h - x), "*" * (2*x + 1))
# for x in range(h - 2, -1, -1):
#     print(" " * (h - x), "*" * (2*x + 1))

      *
     ***
    *****
   *******
  *********

In [36]:
star = '*'
space = ' '
i = 1
while i < 6:
    print(space * (6-i), star)
    i += 1
    star += '*'

      *
     **
    ***
   ****
  *****

In [37]:
print(i)
print(star)

6
******

In [38]:
while i > 0:
    print(space * (6-i+1), star)
    star = star[:-1]
    i -= 1

  ******
   *****
    ****
     ***
      **
       *

In [39]:
star = '*'
space = ' '
i = 1
while i < 6:
    print(space * (6-i), star)
    i += 1
    star += '*'
while i > 0:
    print(space * (5-i+1), star)
    star = star[:-1]
    i -= 1

      *
     **
    ***
   ****
  *****
 ******
  *****
   ****
    ***
     **
      *

In [16]:
line = '*'
space = ' '
i = 0

while i < 5:
    print(space * (5-i), line * (2*i+1))
    i+=1

      *
     ***
    *****
   *******
  *********

In [17]:
print(i)
print(line)

5
*

In [18]:
while i > 0:
    print(space * (5-i), line * (2*i-1))
    i -= 1

 *********
  *******
   *****
    ***
     *

In [22]:
line = '*'
space = ' '
i = 0

while i < 5:
    print(space * (5-i), line * (2*i + 1))
    i += 1
    
while i > 0:
    i -= 1    
    print(space * (5-i+1), line * (2*i - 1))

      *
     ***
    *****
   *******
  *********
   *******
    *****
     ***
      *

## Yahooooooooooo!

## I succeed ...

### `break` and `continue` statements

You can use the `break` statement within the loop's body to immediately stop the execution and *break* out of the loop (even if the condition provided to `while` still holds true).

In [2]:
i = 1
result = 1

while i <= 100:
    result *= i
    if i == 24:
        print('Magic number {} reached! Stopping execution..'.format(i))
        break
    i += 1

print('i = ', i)
print('result = ', result)

Magic number 24 reached! Stopping execution..
i =  24
result =  620448401733239439360000

As you can see above, the value of `i` at the end of execution is 24.

This example also shows how you can use an `if` statement within a `while` loop.

Sometimes you may not want to end the loop entirely, but simply skip the remaining statements in the loop and *continue* to the next loop.

You can do this using the `continue` statement.

In [6]:
i = 1
result = 1

while i < 20:
    i += 1
    if i % 2 == 0:
        print('Skipping {}'.format(i))
        continue
    print('Multiplying with {}'.format(i))
    result = result * i
    print('updated-result = ', result)
    print('---------------------')
    
print('i = ', i,'\n------------')
print('\nfinal-result = ', result)

Skipping 2
Multiplying with 3
updated-result =  3
---------------------
Skipping 4
Multiplying with 5
updated-result =  15
---------------------
Skipping 6
Multiplying with 7
updated-result =  105
---------------------
Skipping 8
Multiplying with 9
updated-result =  945
---------------------
Skipping 10
Multiplying with 11
updated-result =  10395
---------------------
Skipping 12
Multiplying with 13
updated-result =  135135
---------------------
Skipping 14
Multiplying with 15
updated-result =  2027025
---------------------
Skipping 16
Multiplying with 17
updated-result =  34459425
---------------------
Skipping 18
Multiplying with 19
updated-result =  654729075
---------------------
Skipping 20
i =  20
------------

final-result =  654729075

### Iteration with `for` loops

A `for` loop is used for iterating or looping over sequences, i.e., lists, tuples, dictionaries, strings, and *ranges*. For loops have the following syntax:

```
for value in sequence:
    statement(s)
```

The statements within the loop are executed once for each element in `sequence`. Here's an example that prints all the element of a list.

In [7]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for x in days:
    print(x)

Monday
Tuesday
Wednesday
Thursday
Friday

#### Let's try using `for` loops with some other data types.

In [9]:
# Looping over a string.

day_str = 'Monday'
for character in day_str:
    print(character)

M
o
n
d
a
y

In [10]:
# Looping over a tuple.

fruit_tuple = ('apple', 'banana', 'guava')
for fruit in fruit_tuple:
    print(fruit)

apple
banana
guava

In [12]:
# Looping over a dictionary.

person = {
    'name': 'Usman Tariq',
    'gender': 'Male',
    'age': 25,
    'married': False
}

for key in person:
    print('key: {} , value: {}\n'.format(key,person[key]))

key: name , value: Usman Tariq

key: gender , value: Male

key: age , value: 25

key: married , value: False

In [13]:
person.values()

dict_values(['Usman Tariq', 'Male', 25, False])

In [14]:
type(person.values())

dict_values

In [15]:
for value in person.values():
    print(value)

Usman Tariq
Male
25
False

In [16]:
for key in person.keys():
    print(key)

name
gender
age
married

In [18]:
for key_value_pair in person.items():
    print(key_value_pair)

('name', 'Usman Tariq')
('gender', 'Male')
('age', 25)
('married', False)

Since a key-value pair is a tuple, we can also extract the key & value into separate variables.

In [19]:
for key, value in person.items():
    print('{} = {}'.format(key, value))

name = Usman Tariq
gender = Male
age = 25
married = False

### Iterating using `range` and `enumerate`

The `range` function is used to create a sequence of numbers that can be iterated over using a `for` loop. It can be used in 3 ways:
 
* `range(n)` - Creates a sequence of numbers from `0` to `n-1`
* `range(a, b)` - Creates a sequence of numbers from `a` to `b-1`
* `range(a, b, step)` - Creates a sequence of numbers from `a` to `b-1` with increments of `step`

Let's try it out.

In [20]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [21]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [25]:
for i in range(-1,10,2):
    print(i)

-1
1
3
5
7
9

In [26]:
for i in range(-2,10,2):
    print(i)

-2
0
2
4
6
8

Ranges are used for iterating over lists when you need to track the index of elements while iterating.

In [1]:
a_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for i in range(len(a_list)):
    print('The value at position {} is {}.'.format(i, a_list[i]))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

Another way to achieve the same result is by using the `enumerate` function with `a_list` as an input, which returns a tuple containing the index and the corresponding element.

In [2]:
for i, val in enumerate(a_list):
    print('The value at position {} is {}.'.format(i, val))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

### `break`, `continue` and `pass` statements

Similar to `while` loops, `for` loops also support the `break` and `continue` statements. `break` is used for breaking out of the loop and `continue` is used for skipping ahead to the next iteration.

In [3]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [5]:
for day in weekdays:
    print('today is {}.'.format(day))
    if (day == 'Wednesday'):
        print("\nI don't work beyond Wednesday!")
        break

today is Monday.
today is Tuesday.
today is Wednesday.

I don't work beyond Wednesday!

In [7]:
for day in weekdays:
    if (day == 'Wednesday'):
        print("\nI don't work on {}!\n".format(day))
        continue
    print('Today is {}.'.format(day))

Today is Monday.
Today is Tuesday.

I don't work on Wednesday!

Today is Thursday.
Today is Friday.

Like `if` statements, `for` loops cannot be empty, so you can use a `pass` statement if you don't want to execute any statements inside the loop.

In [8]:
for day in weekdays:
    pass

### Nested `for` and `while` loops

Similar to conditional statements, loops can be nested inside other loops. This is useful for looping lists of lists, dictionaries etc.

In [12]:
persons = [{'name': 'john', 'gender': 'male'},
           {'name': 'jane', 'gender': 'female'},
          ]

In [13]:
for person in persons:
    print(person)

{'name': 'john', 'gender': 'male'}
{'name': 'jane', 'gender': 'female'}

In [16]:
for person in persons:
    for key in person:
        print(key, " = ", person[key])
    print(' ')

name  =  john
gender  =  male

name  =  jane
gender  =  female

In [17]:
for person in persons:
    for key, value in person.items():
        print("{} = {}".format(key, value))
    print(' ')

name = john
gender = male

name = jane
gender = female

In [19]:
days = ['monday', 'tuesday', 'wednesday']
fruits = ['apple', 'banana', 'guava']

In [20]:
for day in days:
    for fruit in fruits:
        print(day, fruit)

monday apple
monday banana
monday guava
tuesday apple
tuesday banana
tuesday guava
wednesday apple
wednesday banana
wednesday guava

In [21]:
for fruit in fruits:
    for day in days:
        print(fruit, day)

apple monday
apple tuesday
apple wednesday
banana monday
banana tuesday
banana wednesday
guava monday
guava tuesday
guava wednesday

In [22]:
jovian.commit()

[jovian] Updating notebook "usm811/python-branching-and-loops" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/usm811/python-branching-and-loops

'https://jovian.ai/usm811/python-branching-and-loops'